*{
    margin: 20;
    margin-bottom: 10px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #24639e;
    
    
}

html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

#calci {
    height:100px;
    font-size: 200px;
    margin-top: 100px;
    display:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #41249e;
  

}

#calculator {
    padding: -300px;
    width: 325px;
    height: auto;
    display: center;
    margin-top: -20px;

    margin: 100px auto;
    padding: 20px 20px 9PX;

    background: #484a4b;
    background: linear-gradient(#f0eef0, #e0e4e6);
    border-radius: 3px;
    box-shadow: 0px 4px #c4d0d6, 0px 10px 15px rgba(0,0,0,0.2);
}

#screen {
    float: right;
    opacity: 0.5;


    height: 40px;
    width: 312px;

    padding: 0 10px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    font-size: 17px;
    line-height: 40px;
    color: rgb(173, 25, 72);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

.keys, .top {
    overflow: hidden;
    opacity: 0.9;

}

.keys span, #clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;

    width: 66px;
    height: 36px;

    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

    margin: 0 7px 11px 0;

    color: #240d0d;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}

.keys span.operator {
    background: #c57390;
    margin-right: 0; 
}

.keys span.eval {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

.keys span.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

#clear {
    background: #ffac9f;
    box-shadow: 0px 4px #ee0d0d;
    color: white;
    opacity: transparent;
}

#clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}

#clear:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

.keys span:hover {
    background: #89f69f;
    box-shadow: 0px 4px #54d3a4;
    color: white;
}

.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
